.App {
  font-family: sans-serif;
  text-align: center;
}

.each-data {
  border: 2px solid red;
  width: 350px;
  padding: 15px;
  margin: 13px;
}

.data-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

img {
  max-height: 200px;
}
